.background-list{
    list-style-type : none;
}
html, body{
    height: 100%;
    width: 100%;
}
.navbar{
    color: #234153;
    padding: 1% 0%;
    font-size: 1.2em;
}
.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
    position: fixed;
    float: left;
}

.navbar-collapse-main{
    float: right;
    margin-top: 50px;
}

@media (min-width: 768px){
.navbar-header {
     float: right; 
}
}

@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    float: left;
}
}

.navbar{
    background-color: #234153 !important;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
    color: aliceblue;
}

#home{
    background: url(../images/simple_blue_background-wallpaper-1152x720.jpg) no-repeat center center fixed;
    display:  table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.padding{
    padding: 80px 0px;
}
#footer{
    width: 100%;
    background-color: #234153;
}